In [1]:
from tensorflow.keras.preprocessing.text import one_hot

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler,MinMaxScaler,OneHotEncoder,LabelEncoder
from sklearn.model_selection import train_test_split

In [3]:
data=pd.read_csv(r"E:\DATA SETS\ANN\Simple RNN\venv\gemstone.csv")

In [62]:
data.head(0)

Empty DataFrame
Columns: [carat, cut, color, clarity, depth, table, x, y, z, price]
Index: []

In [5]:
cut_levels={'Ideal':5,'Premium':4,'Very Good':3,'Good':2,'Fair':1}

# Ideal        92454
# Premium      49910
# Very Good    37566
# Good         11622
# Fair

In [6]:
data.columns[data.dtypes==object]

Index(['cut', 'color', 'clarity'], dtype='object')

In [7]:
cut_levels

{'Ideal': 5, 'Premium': 4, 'Very Good': 3, 'Good': 2, 'Fair': 1}

In [8]:
data_categorical=data.columns[data.dtypes==object]

In [9]:
data_categorical

Index(['cut', 'color', 'clarity'], dtype='object')

In [10]:
data_numerical=data.columns[data.dtypes!=object]

In [11]:
data_numerical

Index(['id', 'carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')

In [12]:
data[data_categorical]['cut']=data[data_categorical]['cut'].map(cut_levels)

C:\Users\KHUSHBOO PERWEEN\AppData\Local\Temp\ipykernel_6192\3359721937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data_categorical]['cut']=data[data_categorical]['cut'].map(cut_levels)

In [13]:
data['cut']=data['cut'].map(cut_levels)

In [14]:
clarity_levels= {"I1":1,"SI2":2 ,"SI1":3 ,"VS2":4 , "VS1":5 , "VVS2":6 , "VVS1":7 ,"IF":8}

In [15]:
color_map = {"D":1 ,"E":2 ,"F":3 , "G":4 ,"H":5 , "I":6, "J":7}

In [16]:
data['clarity']=data['clarity'].map(clarity_levels)

In [17]:
data['color']=data['color'].map(color_map)

In [18]:
data=data.drop(['id'],axis=1)

In [19]:
data

        carat  cut  color  clarity  depth  table     x     y     z  price
0        1.52    4      3        4   62.2   58.0  7.27  7.33  4.55  13619
1        2.03    3      7        2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70    5      4        5   61.2   57.0  5.69  5.73  3.50   2772
3        0.32    5      4        5   61.6   56.0  4.38  4.41  2.71    666
4        1.70    4      4        4   62.6   59.0  7.65  7.61  4.77  14453
...       ...  ...    ...      ...    ...    ...   ...   ...   ...    ...
193568   0.31    5      1        6   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    4      4        6   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73    3      3        3   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34    3      1        3   62.9   55.0  4.45  4.49  2.81    681
193572   0.71    2      2        2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [20]:
X=data.drop(['price'],axis=1)
y=data['price']

In [21]:
data_categorical

Index(['cut', 'color', 'clarity'], dtype='object')

In [22]:
data_numerical

Index(['id', 'carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')

In [23]:
y

0         13619
1         13387
2          2772
3           666
4         14453
          ...
193568     1130
193569     2874
193570     3036
193571      681
193572     2258
Name: price, Length: 193573, dtype: int64

In [24]:
data.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [25]:
data.duplicated().sum()

0

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=41,test_size=0.30)

In [28]:
print("shape",X_train.shape,X_test.shape,y_train.shape,y_test.shape)

shape (135501, 9) (58072, 9) (135501,) (58072,)

In [29]:
import seaborn as sns

In [31]:
from sklearn.preprocessing import StandardScaler

In [32]:
scaler=StandardScaler()

In [40]:
X_train=scaler.fit_transform(X_train)

In [41]:
X_test=scaler.transform(X_test)

In [42]:
X_train,X_train

(array([[ 0.47474317, -1.13681835,  0.91287792, ...,  0.51900895,
          0.53623814,  0.66102249],
        [-0.82189607,  0.87212857, -0.31778594, ..., -0.84232533,
         -0.87925735, -0.86044092],
        [-0.77867476, -0.13234489, -1.54844981, ..., -0.69807799,
         -0.74315201, -0.84595079],
        ...,
        [-1.21088784, -1.13681835, -0.93311788, ..., -1.56356204,
         -1.54163664, -1.59943743],
        [ 0.51796448,  0.87212857, -0.93311788, ...,  0.69931812,
          0.74493299,  0.66102249],
        [ 0.47474317, -1.13681835, -0.93311788, ...,  0.59113262,
          0.60882765,  0.70449287]]),
 array([[ 0.47474317, -1.13681835,  0.91287792, ...,  0.51900895,
          0.53623814,  0.66102249],
        [-0.82189607,  0.87212857, -0.31778594, ..., -0.84232533,
         -0.87925735, -0.86044092],
        [-0.77867476, -0.13234489, -1.54844981, ..., -0.69807799,
         -0.74315201, -0.84595079],
        ...,
        [-1.21088784, -1.13681835, -0.93311788, ..., -1.56356204,
         -1.54163664, -1.59943743],
        [ 0.51796448,  0.87212857, -0.93311788, ...,  0.69931812,
          0.74493299,  0.66102249],
        [ 0.47474317, -1.13681835, -0.93311788, ...,  0.59113262,
          0.60882765,  0.70449287]]))

In [37]:
#ANN modelling 
from tensorflow.keras.models import Sequential
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping
from tensorflow.keras.layers import Dense
from tensorflow.keras.losses import mean_absolute_error as mae

In [49]:
#create the model 

model=Sequential([
Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
Dense(32,activation='relu'),
Dense(1)
])

In [47]:
model=Sequential()

In [52]:
model.compile(optimizer='adam',loss='mae', metrics=['mae'])

In [53]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 64)                640

 dense_3 (Dense)             (None, 32)                2080

 dense_4 (Dense)             (None, 1)                 33

=================================================================
Total params: 2753 (10.75 KB)
Trainable params: 2753 (10.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [54]:
import datetime

In [55]:
#during traning it collects logs
log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callbacks=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [56]:
Early_callbacks=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [59]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=5,callbacks=[tensorflow_callbacks,Early_callbacks])

Epoch 1/5
4235/4235 [==============================] - 18s 4ms/step - loss: 378.4413 - mae: 378.4413 - val_loss: 372.1245 - val_mae: 372.1245
Epoch 2/5
4235/4235 [==============================] - 17s 4ms/step - loss: 363.3533 - mae: 363.3533 - val_loss: 361.4953 - val_mae: 361.4953
Epoch 3/5
4235/4235 [==============================] - 18s 4ms/step - loss: 353.7647 - mae: 353.7647 - val_loss: 356.1383 - val_mae: 356.1383
Epoch 4/5
4235/4235 [==============================] - 18s 4ms/step - loss: 349.2805 - mae: 349.2805 - val_loss: 351.6561 - val_mae: 351.6561
Epoch 5/5
4235/4235 [==============================] - 19s 4ms/step - loss: 346.4940 - mae: 346.4940 - val_loss: 346.3484 - val_mae: 346.3484

In [60]:
model.save('model.h5')

e:\projects\DecPro\venv\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [63]:
data.head(1)

   carat  cut  color  clarity  depth  table     x     y     z  price
0   1.52    4      3        4   62.2   58.0  7.27  7.33  4.55  13619

In [64]:
input_data={
    'carat':1.12,'cut':2,'color':2,'clarity':3,'depth':58.9,'table':55.12,'x':6.9,'y':6.98,'z':6.12  
}

In [68]:
y_test

124816      931
108621     4637
141921    15649
68212       420
106490     2808
          ...
30773      1208
92731      4167
55640      1024
115887     3398
95678      7654
Name: price, Length: 58072, dtype: int64

In [66]:
y_pred = model.predict(X_test)

# Print the predictions
print("Predicted values:", y_pred.flatten())
print("Actual values:", y_test)
print

1815/1815 [==============================] - 4s 2ms/step
Predicted values: [ 1001.78766  4505.8423  12821.539   ...  1000.73834  3463.6228
  6755.461  ]
Actual values: 124816      931
108621     4637
141921    15649
68212       420
106490     2808
          ...
30773      1208
92731      4167
55640      1024
115887     3398
95678      7654
Name: price, Length: 58072, dtype: int64

In [71]:
from sklearn.metrics import mean_squared_error, r2_score,accuracy_score

# Calculate performance metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f'R² Score: {r2}')

Mean Squared Error: 439131.5857567425
R² Score: 0.9731196955180703

In [ ]:
Mean Squared Error: 439131.5857567425